<!-- comments.index.html.erb -->

<h1> Posts with Comments on Them</h1>
<table border="1" style="width:100%">
   <tr>
   	<td><h3>Title</h3></td>
    <td><h3>Comment</h3></td>
  </tr>
<% @commentlist.each do |w| %>
<tr>
	<td>
		<%= @post.title %>
	</td>
	<td>
		<%= w.comment %>
	</td>
</tr>
<%end%>
</table>
<br>
<br>
<%= link_to "Log Out", logout_path, method: :delete %>
<br>
<br>
<%= link_to "BLOG", new_user_post_path(@current_user.id) %>
<br>


