<!-- user.show.html.erb -->

	<h3>welcome back</h3>
	<h3><%= "Name:   #{@current_user.username}" %></h3>
	<h3><%= "Account created: #{@current_user.created_at}" %></h3>
<br>
<br>
<br>


<%= link_to "-EDIT-", edit_user_path(@current_user), class: "anything" %>
<%= link_to " -BLOG- ", new_post_path(@current_user), class: "anything" %>

