<!-- posts.new.html.erb -->

<h3>Post Your Blog</h3>
<h3><%= @user.username %></h3>
	<form action="edit" method="POST">
		<label>Your Name </label>

		<input value="<%= @user.username %>" name="user[username]" type="text"></input>
		<br>
		<br>
		<label>Password</label>
		<input value="<%= @user.password %>"name="user[password]" type="password"></input>
		<br>
		<br>
		<input type="submit" value="submit"></input>
	</form>




